@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";




.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.indie-flower{
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.custom-shape-divider-top-1763807715 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

@layer utilities{

  .structure {
    @apply relative w-72 sm:w-80 bg-white/5 backdrop-blur-[17px] border rounded-[5rem] border-white/10 shadow-lg p-8;
  }

}